<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
<head>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
    processEscapes: true
  }
  });
</script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


{{- partial "head.html" . -}}
<body>

{{- partial "sidebar.html" . -}}
<div class="main">
    {{ partial "navbar.html" . }}
    <div class="autopagerize_page_element">
        <div class="content">
            {{- block "main" . }}{{- end }}
        </div>
    </div>
</div>

{{- partial "footer.html" . -}}
</body>

</html>
